<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

  <log4net>
    <!-- These messages will be logged to any System.Diagnostics.TraceListener  that is registered in the config file -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%m%n" />
      </layout>
    </appender>
    <!-- Log all INFO messages and send them to these appenders -->
    <root>
      <!-- ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF-->
      <priority value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
</configuration>